<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zawlynn.udacitycapstoneproject">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.zawlynn.capstoneproject.PodcastApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zawlynn.capstoneproject.ui.podcast.PodcastDetailsActivity"
            android:parentActivityName="com.zawlynn.capstoneproject.ui.main.HomeActivity"
            android:label="@string/podcast"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.zawlynn.capstoneproject.ui.player.OfflinePlayerActivity"
            android:parentActivityName="com.zawlynn.capstoneproject.ui.main.HomeActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.zawlynn.capstoneproject.ui.search.SearchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name="com.zawlynn.capstoneproject.ui.main.HomeActivity"
            android:launchMode="singleInstance"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.zawlynn.capstoneproject.ui.podcast.PodcastActivity"
            android:label="@string/podcast"
            android:parentActivityName="com.zawlynn.capstoneproject.ui.main.HomeActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.zawlynn.capstoneproject.ui.genre.GenreActivity"
            android:label="@string/select_genre"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.zawlynn.capstoneproject.ui.onboard.OnBoardActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.zawlynn.capstoneproject.ui.login.LoginActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name="com.zawlynn.capstoneproject.ui.splash.SplashActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <service android:name="com.zawlynn.capstoneproject.service.DownloadService" />
        <service
            android:name="com.zawlynn.capstoneproject.service.MediaService"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.zawlynn.capstoneproject.ui.widget.PodcastWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/podcast_widget_info" />
        </receiver>
    </application>

</manifest>